/*---------------------- Reader Section Start--------------------- */
.reader-header {
  text-align: center;
  margin-bottom: 15px;
}

.pdf-wrapper {
  width: 100%;
  height: 85vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.pdf-frame {
  width: 100%;
  height: 100%;
  border: none;
}

@media print {
  body * {
    display: none !important;
  }
}

/*---------------------- Reader Section End--------------------- */
